/* All styles for your Card Components live here */
.card-container{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid red;
    width:78.4%;
    padding-right:20px;
}
.banner{
    display: flex;
    justify-content: flex-end;
    width:100%
}

.banner img{
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 80%;
}

.card-content{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 77.7%;
    border:1px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:0px 0px 20px 20px;
}