button{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.actionButtonStyle{
    display: flex;
    width: 75%;
}
.numberButtonStyle{
    display: flex;
    width: 25%;
}
.redStyle{
    display: flex;
    background:#800020;
    color:white;
}
